.nav {
    position: relative;
    width: 100%;
    grid-area: n;
    background-color: var(--color-grey);
}
.nav ul {
    list-style: none;
}
.nav .item {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.nav .item.active {
    color: var(--color-blue);
}
.nav .item:last-child {
    margin-bottom: 0;
}